.cart-container {
    min-height: 89.5vh;
    padding: 48px;
    background-color: #ebebeb;
    border: 1px solid black;
}

.cart-container table {
    max-width: 60vw;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 64px;
}

.cart-container th {
    font-weight: bold;
    font-size: 18px;
    color: #282828;
    padding: 16px;
    text-align: left;
}

th, td {
    border-bottom: 1px solid black;
    padding: 0;
    border-spacing: 0;
}


tr:hover {
    background-color: #ebebeb;
}