.cart-item {
    border-bottom: 1px solid grey;
}

.cart-item td {
    padding: 16px;
    justify-content: center;
}

.cart-item button {
    font-size: 14px;
    color: #282828;
    padding: 8px 16px;
    background: #FFD814;
    border-radius: 8px;
    border: none;
}

.cart-item button:hover{
    cursor: pointer;
}

.image-name {
    display: flex;
    align-items: center;
}

.image-name img {
    max-width: 100px;
    margin-right: 16px;
}
